/* HorizontalTabs.css */
.radio-item {
  position: absolute;
  opacity: 0;
}

.menu-label {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem; /* rounded-md */
  display: inline-block;
  width: 100%;
  font-size: 18px;
  transition: color 0.1s;
  text-align: center;
}

.menu-label {
  color: grey;
}

[data-state="checked"] + .menu-label {
  color: black; /* Active text color */
}

.dark [data-state="checked"] + .menu-label {
  color: white;
}
